# Server
NODE_ENV=development
PORT=3001

# JWT
JWT_SECRET=your-secret-key-here-change-in-production
JWT_EXPIRATION=24h

# DigitalOcean Spaces
SPACES_ENDPOINT=https://ahpstudio.atl1.digitaloceanspaces.com
SPACES_BUCKET=ahpstudio
SPACES_KEY=DO801PVNUBFKDEN2UFDY
SPACES_SECRET=kcWmunxjEy1QW5Wi3fVcM0uqezapoStEfYY2btUXK0s
SPACES_REGION=atl1

# App
APP_URL=http://localhost:3000
